<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="CV Maciej Moroz" />
    <meta name="author" content="Maciej Moroz" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>CV Maciej Moroz</title>

    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div>
      {% include "components/header.html" %}
      <!--  -->
      {% include "components/personal.html"%}
    </div>
    <div>
      {% include "components/experience.html" %}
      <!--  -->
      {% include "components/education.html" %}
      <!--  -->
      {% include "components/hobby.html" %}
      <!--  -->
      {% include "components/footer.html" %}
    </div>
    <a
      onclick="this.setAttribute('href', 'https://v2.convertapi.com/convert/web/to/pdf?secret=&download=attachment&url=' + encodeURI(window.location))"
      href="#"
    >
      Save page as PDF
    </a>

    <script src="js/app.js" type="text/javascript"></script>
  </body>
</html>
