<div class="edu exp component">
  <div class="wrapper">
    <button class="colapse btn-main">Edukacja</button>
    <div class="colapse-itm">
      <table>
        <tbody>
          <tr>
            <td>
              <p>10-2018 -</p>
              <p>do dziś</p>
            </td>
            <td>
              <h3 class="edu__hdr">
                Politechnika Białostocka, JavaScript Developer
              </h3>
              <p>
                <a
                  href="http://podyplomowe.wi.pb.edu.pl/javascript/plan-studiow/"
                >
                  Plan studiów</a
                >
              </p>
              <p>I Semestr</p>
              <ul>
                <li>Programowanie w języku JavaScript</li>
                <li>Angular od podstaw – Programowanie aplikacji WEB</li>
                <li>Framework i ekosystem React – Wprowadzenie</li>
                <li>NodeJS – środowisko i technologia ServerSide 1</li>
                <li>Podstawy Agile i Scrum (wykład/pracownia</li>
                <li>Metodyka DevOps – produkcja i utrzymanie oprogramowania</li>
              </ul>

              <p>II Semestr</p>
              <ul>
                <li>Zaawansowane zagadnienia języka JavaScript</li>
                <li>Zawansowane programowanie aplikacji w Angular</li>
                <li>Framework i ekosystem React – Aplikacja serwerowa</li>
                <li>NodeJS – środowisko i technologia ServerSide 2</li>
                <li>
                  Wytwarzanie oprogramowania z wykorzystaniem Agile i Scrum
                </li>
                <li>Aplikacje mobilne w technologii React Native</li>
              </ul>
            </td>
          </tr>

          <tr>
            <td>
              <p>10-2017 -</p>
              <p>6-2018</p>
            </td>
            <td>
              <h3 class="edu__hdr">
                Politechnika Białostocka, „Aplikacje Internetowe – Front-End
                Development”
              </h3>
              <p>
                <a
                  href="http://podyplomowe.wi.pb.edu.pl/front-end-development/plan-studiow/"
                >
                  Plan studiów</a
                >
              </p>
              <p>I Semestr</p>
              <ul>
                <li>Podstawy programowania HTML5/CSS3</li>
                <li>Podstawy programowania JavaScript</li>
                <li>
                  Tworzenie szablonów HTML na podstawie projektów graficznych
                </li>
                <li>Webdesign – Wprowadzenie</li>
                <li>Projektowanie User Experience</li>
                <li>Narzędzia Front-End Developera 1</li>
              </ul>
              <p>II Semestr</p>
              <ul>
                <li>Zaawansowane techniki programowania HTML5/CSS3</li>
                <li>Język JavaScript w praktyce</li>
                <li>Zaawansowane frameworki JavaScript</li>
                <li>Web Design – Zagadnienia zaawansowane</li>
                <li>Narzędzia Front-End Developera 2</li>
              </ul>
            </td>
          </tr>

          <td>
            <p>10-2008-</p>
            <p>05-2011</p>
          </td>
          <td><h3 class="edu__hdr">Politechnika Białostocka, Logistyka</h3></td>
        </tbody>
      </table>
    </div>
  </div>
</div>
