<div class="exp component">
  <div class="wrapper">
    <button class="colapse btn-main">Doświadczenie</button>
    <div class="colapse-itm">
      <table>
        <tbody>
          <tr>
            <td>
              <p>01-07-2019 -</p>
              <p>26-07-2019</p>
            </td>
            <td>
              <h3 class="exp__hdr">Infinity Group Sp. z o.o.</h3>
              <p>Praktyki Front-end</p>
              <p>Realizacja w zespole 3 osobowym projektu graficznego.</p>
              <p>Praca w grupie z wykorzystaniem Jira, GitLab</p>
              <p>
                Do moich zadań należało zrealizowanie 3 wersji hero baneru: ze
                zdjęciem, video HTML5, video Youtube API. Licznik czasu trwania
                promocji oraz footer. Wszystkie sekcje w RWD.
              </p>

              <p>
                Szkolenia: tworzenie mailingów, BEM, animacje z wykożystaniem
                biblioteki GreenSock.
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <p>06-2015 -</p>
              <p>do dziś</p>
            </td>
            <td>
              <h3 class="exp__hdr">PHU Wagant</h3>
              <p>Event manager</p>
              <p>
                Zarządzanie projektami, zarządzanie budżetem, zarządzanie
                zespołem, koordynacja realizacji eventów, pozyskiwanie klientów,
                negocjacje z klientem i kontrahentami, przygotowywanie ofert na
                podstawie dokumentacji przetargowej, rozliczenia finansowe,
                logistyka, pilotowanie wycieczek, opiekun grup.
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <p>05-2013 -</p>
              <p>10-2015</p>
            </td>
            <td>
              <h3 class="exp__hdr">Swobodny</h3>
              <p>Współwłaściciel / kucharz</p>
              <p>
                Współwłaściciel lokalu gastronomicznego, kucharz, autor menu,
                planowanie zapasów, obsługa kasy fiskalnej, rozliczenia
                finansowe, fakturowanie
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <p>06-2009 -</p>
              <p>06-2009</p>
            </td>
            <td>
              <h3 class="exp__hdr">F.C.G Viapasta</h3>
              <p>
                Kucharz, kordynator sekcji kuchni włoskiej, obsługa kasy
                fiskalnej, rekrutacja i szkolenie pracowników
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <p>05-2008 -</p>
              <p>09-2008</p>
            </td>
            <td>
              <h3 class="exp__hdr">Tampopo LTD</h3>
              <p>Kucharz w Wielkiej Brytanii</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
