<footer class="footer wrapper">
  <p>
    Wyrażam zgodę na przetwarzanie moich danych osobowych w celu prowadzenia
    rekrutacji na aplikowane przeze mnie stanowisko.
  </p>
  <div class="getPdf">
    <a href="../../files/Maciej Moroz CV.pdf" download
      ><img src="../../img/pdf_icon_24px.png" alt="pdf icon 24px" /> Pobierz CV
      w PDF</a
    >
  </div>
  <div class="copyright">
    <a href="mailto:maciej.moroz89@gmail.com"
      >Copyright&nbsp;© Maciej Moroz img
    </a>
  </div>
</footer>
