<footer class="footer wrapper">
  <p>
    Wyrażam zgodę na przetwarzanie moich danych osobowych przez Infinity Group
    Sp. z o.o., ul. Składowa 12, 15-399 Białystok w celu realizacji procesu
    rekrutacyjnego na praktyki.
  </p>
  <div class="getPdf">
    <a href="../../files/Maciej Moroz CV.pdf" download
      ><img src="../../img/pdf_icon_24px.png" alt="pdf icon 24px" /> Pobierz CV
      w PDF</a
    >
  </div>
  <div class="copyright">
    <a href="mailto:maciej.moroz89@gmail.com">Copyright&nbsp;© Maciej Moroz </a>
  </div>
</footer>
