<div class="hobby">
  <div class="wrapper">
    <button class="colapse btn-main">Zainteresowania</button>
    <div class="colapse-itm">
      <div class="hobby-box">
        <table>
          <tbody>
            <tr>
              <td></td>
              <td>
                <ul>
                  <li>IoT</li>
                  <li>Rower</li>
                  <li>Terrarystka</li>
                  <li>Kajakarstwo</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!DOCTYPE html>
