<button class="colapse btn-leftSite">Dane osobowe</button>
<div class="colapse-itm">
  <div class="leftSide">
    <div class="personalData">
      <p class="personalData__cont">Adres</p>
      <p class="personalData__cont">Zielonogórska 3/22</p>
      <p class="personalData__cont">15-674 Białystok</p>
    </div>
    <div class="personalData">
      <p class="personalData__cont">Telefon</p>
      <a href="tel:600-437-869" class="personalData__cont">600 437 869</a>
    </div>
    <div class="personalData">
      <p class="personalData__cont">E-mail</p>
      <p class="personalData__cont">
        <a href="mailto:maciej.moroz89@gmail.com">maciej.moroz89@gmail.com</a>
      </p>
    </div>

    <div class="personalData">
      <p class="personalData__cont">GitHub</p>
      <p class="personalData__cont">
        <a href="https://github.com/MaciejMoroz">github.com/MaciejMoroz</a>
      </p>
    </div>

    <div class="personalData">
      <p class="personalData__cont">Data urodzenia</p>
      <p class="personalData__cont">08-10-1989</p>
    </div>
  </div>
</div>
<button class="colapse btn-leftSite">Umiejętnośći</button>
<div class="colapse-itm">
  <div class="leftSide">
    <div class="skills">
      <div class="flex-cont">
        <div class="flex-itm">
          <p class="skills__cont">HTML5</p>
          <div class="progres">
            <span class="progres__box"></span>
            <span class="progres__box"></span>
            <span class="progres__box--dark"></span
            ><span class="progres__box progres__box--dark"></span>
            <span class="progres__box--dark"></span>
          </div>
        </div>

        <div class="flex-itm">
          <p class="skills__cont">CSS / SASS</p>
          <div class="progres">
            <span class="progres__box"></span>
            <span class="progres__box"></span>
            <span class="progres__box--dark"></span
            ><span class="progres__box--dark"></span>
            <span class="progres__box--dark"></span>
          </div>
        </div>

        <div class="flex-itm">
          <p class="skills__cont">JavaScript ES5/ES6</p>
          <div class="progres">
            <span class="progres__box"></span> <span class="progres__box"></span
            ><span class="progres__box--dark"></span>
            <span class="progres__box--dark"></span>
            <span class="progres__box--dark"></span>
          </div>
        </div>
        <div class="flex-itm">
          <p class="skills__cont">React + Redux</p>
          <div class="progres">
            <span class="progres__box"></span>
            <span class="progres__box--dark"></span>
            <span class="progres__box--dark"></span>
            <span class="progres__box--dark"></span>
            <span class="progres__box--dark"></span>
          </div>
        </div>
        <div class="flex-itm">
          <p class="skills__cont">React Native</p>
          <div class="progres">
            <span class="progres__box--dark-half"></span>
            <span class="progres__box--dark"></span>
            <span class="progres__box--dark"></span>
            <span class="progres__box--dark"></span>
            <span class="progres__box--dark"></span>
          </div>
        </div>
        <div class="flex-itm">
          <p class="skills__cont">Angular 7</p>
          <div class="progres">
            <span class="progres__box--dark-half"></span>
            <span class="progres__box--dark"></span>
            <span class="progres__box--dark"></span>
            <span class="progres__box--dark"></span>
            <span class="progres__box--dark"></span>
          </div>
        </div>
        <div class="flex-itm">
          <p class="skills__cont">Node.js + Express</p>
          <div class="progres">
            <span class="progres__box"></span>
            <span class="progres__box--dark"></span>
            <span class="progres__box--dark"></span>
            <span class="progres__box--dark"></span>
            <span class="progres__box--dark"></span>
          </div>
        </div>

        <div class="flex-itm">
          <p class="skills__cont">Photoshop</p>
          <div class="progres">
            <span class="progres__box"></span>
            <span class="progres__box"></span>
            <span class="progres__box--dark"></span>
            <span class="progres__box--dark"></span>
            <span class="progres__box--dark"></span>
          </div>
        </div>

        <div class="flex-itm">
          <p class="skills__cont">Adobe XD</p>
          <div class="progres">
            <span class="progres__box"></span>
            <span class="progres__box"></span>
            <span class="progres__box--dark"></span
            ><span class="progres__box--dark"></span>
            <span class="progres__box--dark"></span>
          </div>
        </div>

        <div class="flex-itm">
          <p class="skills__cont">UxPin</p>
          <div class="progres">
            <span class="progres__box"></span>
            <span class="progres__box"></span> <span class="progres__box"></span
            ><span class="progres__box--dark"></span
            ><span class="progres__box--dark"></span>
          </div>
        </div>

        <div class="flex-itm">
          <p class="skills__cont">GitHub</p>
          <div class="progres">
            <span class="progres__box"></span>
            <span class="progres__box"></span>
            <span class="progres__box--dark"></span>
            <span class="progres__box--dark"></span>
            <span class="progres__box--dark"></span>
          </div>
        </div>

        <div class="flex-itm">
          <p class="skills__cont">Agile Scrum</p>
          <div class="progres">
            <span class="progres__box"></span>
            <span class="progres__box--dark"></span
            ><span class="progres__box--dark"></span
            ><span class="progres__box--dark"></span
            ><span class="progres__box--dark"></span>
          </div>
        </div>

        <div class="flex-itm">
          <p class="skills__cont">MS Office</p>
          <div class="progres">
            <span class="progres__box"></span>
            <span class="progres__box"></span>
            <span class="progres__box--dark"></span
            ><span class="progres__box--dark"></span
            ><span class="progres__box--dark"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="colapse btn-leftSite">Języki obce</button>
<div class="colapse-itm">
  <div class="leftSide">
    <div class="flex-cont">
      <div class="skills">
        <div class="flex-itm">
          <p class="skills__cont">J. angielski</p>
          <div class="progres">
            <span class="progres__box"></span>
            <span class="progres__box"></span>
            <span class="progres__box"></span>
            <span class="progres__box--dark"></span>
            <span class="progres__box--dark"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
