<button class="colapse btn-leftSite">Dane osobowe</button>
<div class="colapse-itm">
  <div class="leftSide">
    <div class="personalData">
      <p>Adres</p>
      <p>Zielonogórska 3/22</p>
      <p>15-674 Białystok</p>
    </div>
    <div class="personalData">
      <p>Telefon</p>
      <p>600 437 869</p>
    </div>
    <div class="personalData">
      <p>E-mail</p>
      <p>
        <a href="mailto:maciej.moroz89@gmail.com">maciej.moroz89@gmail.com</a>
      </p>
    </div>

    <div class="personalData">
      <p>GitHub</p>
      <p>
        <a href="https://github.com/MaciejMoroz">github.com/MaciejMoroz</a>
      </p>
    </div>

    <div class="personalData">
      <p>Data urodzenia</p>
      <p>08-10-1989</p>
    </div>
  </div>
</div>
<button class="colapse btn-leftSite">Umiejętnośći</button>
<div class="colapse-itm">
  <div class="leftSide">
    <div class="skills">
      <div class="flex-cont">
        <div class="flex-itm">
          <p>HTML5</p>
          <div class="progres">
            <span></span> <span></span> <span class="progres-dark"></span
            ><span class="progres-dark"></span>
            <span class="progres-dark"></span>
          </div>
        </div>

        <div class="flex-itm">
          <p>CSS / SASS</p>
          <div class="progres">
            <span></span> <span></span> <span class="progres-dark"></span
            ><span class="progres-dark"></span>
            <span class="progres-dark"></span>
          </div>
        </div>

        <div class="flex-itm">
          <p>JavaScript ES5/ES6</p>
          <div class="progres">
            <span></span> <span></span><span class="progres-dark"></span>
            <span class="progres-dark"></span>
            <span class="progres-dark"></span>
          </div>
        </div>
        <div class="flex-itm">
          <p>React + Redux</p>
          <div class="progres">
            <span></span> <span class="progres-dark"></span>
            <span class="progres-dark"></span>
            <span class="progres-dark"></span>
            <span class="progres-dark"></span>
          </div>
        </div>
        <div class="flex-itm">
          <p>React Native</p>
          <div class="progres">
            <span class="progres-dark-half"></span>
            <span class="progres-dark"></span>
            <span class="progres-dark"></span>
            <span class="progres-dark"></span>
            <span class="progres-dark"></span>
          </div>
        </div>
        <div class="flex-itm">
          <p>Angular 7</p>
          <div class="progres">
            <span class="progres-dark-half"></span>
            <span class="progres-dark"></span>
            <span class="progres-dark"></span>
            <span class="progres-dark"></span>
            <span class="progres-dark"></span>
          </div>
        </div>
        <div class="flex-itm">
          <p>Node.js + Express</p>
          <div class="progres">
            <span></span> <span class="progres-dark"></span>
            <span class="progres-dark"></span>
            <span class="progres-dark"></span>
            <span class="progres-dark"></span>
          </div>
        </div>

        <div class="flex-itm">
          <p>Photoshop</p>
          <div class="progres">
            <span></span> <span></span> <span class="progres-dark"></span>
            <span class="progres-dark"></span>
            <span class="progres-dark"></span>
          </div>
        </div>

        <div class="flex-itm">
          <p>Adobe XD</p>
          <div class="progres">
            <span></span> <span></span> <span class="progres-dark"></span
            ><span class="progres-dark"></span>
            <span class="progres-dark"></span>
          </div>
        </div>

        <div class="flex-itm">
          <p>UxPin</p>
          <div class="progres">
            <span></span> <span></span> <span></span
            ><span class="progres-dark"></span
            ><span class="progres-dark"></span>
          </div>
        </div>

        <div class="flex-itm">
          <p>GitHub</p>
          <div class="progres">
            <span></span> <span></span> <span class="progres-dark"></span>
            <span class="progres-dark"></span>
            <span class="progres-dark"></span>
          </div>
        </div>

        <div class="flex-itm">
          <p>Agile Scrum</p>
          <div class="progres">
            <span></span> <span class="progres-dark"></span
            ><span class="progres-dark"></span><span class="progres-dark"></span
            ><span class="progres-dark"></span>
          </div>
        </div>

        <div class="flex-itm">
          <p>MS Office</p>
          <div class="progres">
            <span></span> <span></span> <span class="progres-dark"></span
            ><span class="progres-dark"></span
            ><span class="progres-dark"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="colapse btn-leftSite">Języki obce</button>
<div class="colapse-itm">
  <div class="leftSide">
    <div class="flex-cont">
      <div class="skills">
        <div class="flex-itm">
          <p>J. angielski</p>
          <div class="progres">
            <span></span> <span></span> <span></span>
            <span class="progres-dark"></span>
            <span class="progres-dark"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
