@font-face {
  font-family: "Arimo-Bold";
  src: url("../fonts/Arimo-Bold.ttf");
  src: url("../fonts/Arimo-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Arimo-Regular";
  src: url("../fonts/Arimo-Regular.ttf");
  src: url("../fonts/Arimo-Regular.ttf") format("ttf");
}
