html {
  font-size: 16px;

  @media (max-width: $bpoint-mob - 1) {
    font-size: 12px;
  }
  @media (min-width: $bpoint-desklg) {
    font-size: 20px;
  }

  box-sizing: border-box;
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}

body {
  font-size: $font-size-body;
  font-family: $font-1;
  line-height: 1.4;
  color: $color-1;
  @media (min-width: $bpoint-desk) {
    display: flex;
  }
}

ul,
ol {
  padding: 0;
  margin: 0;
}

small {
  font-size: 75%;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
.h1 {
  font-size: $font-size-h1;
  margin-bottom: 0.5 * $space;
}
h2,
.h2 {
  font-size: $font-size-h2;
  margin-bottom: 0.5 * $space;
}
h3,
.h3 {
  font-size: $font-size-h3;
  margin-bottom: 0.5 * $space;
}

p {
  font-size: $font-size-body;
  margin: 0.25 * $space 0;
}

button {
  border: none;
  background: none;
  color: $color-1;
}

.wrapper {
  margin-left: $base-unit;
  margin-right: $base-unit;
  position: relative;

  @media (min-width: $bpoint-tab) {
    margin-left: 2 * $space;
    margin-right: 2 * $space;
  }

  @media (min-width: $bpoint-desk) {
    max-width: $cont-max-width;
    margin-left: $space;
    margin-right: $space;
  }
}

.component {
  margin-top: $space;
  margin-bottom: $space;
}

.hide-mob {
  display: hidden;
  @media (min-width: $bpoint-desk) {
    display: unset;
  }
}
.hide-desk {
  display: hidden;
  @media (max-width: $bpoint-tab) {
    display: unset;
  }
}

.leftSide {
  background-color: $color-2;
  min-width: 300px;
  width: 100%;
  padding: $base-unit $base-unit $base-unit;
  text-align: left;

  @media (min-width: $bpoint-desk) {
    max-width: 300px;
    margin: 0;
  }
}

.line {
  position: absolute;
  background-color: rgba(55, 61, 72, 0.3);
  width: 100%;
  height: 1px;
}

tbody {
  padding-top: $base-unit;
}
td {
  padding-top: $base-unit;
  min-width: $space * 3.5;
}

.colapse-itm {
  width: 100%;
  max-height: 0;
  min-width: 300px;
  width: 100%;
  overflow: hidden;
  transition: all 0.3s ease-out;
  @media (min-width: $bpoint-desk) {
    display: unset;
  }
}

.btn-main {
  color: $color-3;
  font-size: $font-size-h3;
  padding: $base-unit * 0.25 $base-unit * 0.25;
  font-weight: $fw-bold;
  border-top: 1px solid rgba(55, 61, 72, 0.3);
  border-bottom: 1px solid rgba(55, 61, 72, 0.3);
  width: 100%;
  text-align: left;
  &:after {
    content: "\02795";
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
    @media (min-width: $bpoint-desk) {
      display: none;
    }
  }
}
.active:after {
  content: "\2796";
}
