.footer {
  min-width: 300px;

  p {
    min-width: 300px;
    color: $color-3;
    padding: $space;
  }
}
.copyright {
  min-width: 300px;
  margin-top: $space;
  text-align: center;
  cursor: pointer;
  color: $color-3;
}
