.footer {
  min-width: 300px;
  margin: 0;

  p {
    min-width: 300px;
    color: $color-3;
    padding: $space * 0.5;
    text-align: center;
  }
}
.copyright {
  min-width: 300px;
  margin-top: $space;
  text-align: center;
  cursor: pointer;
  color: $color-3;
  font-size: $font-size-h6;
}
.getPdf {
  text-align: center;
  color: $color-3;
  cursor: pointer;
}
