.header {
  min-width: 300px;
  background-color: $color-2;
  width: 100%;
  padding: $base-unit $base-unit $base-unit;
  text-align: left;

  @media (min-width: $bpoint-desk) {
    max-width: 300px;
    margin: 0;
  }
}

.img-box {
  height: $space * 18.75;

  &__img {
    background-image: url(../img/DSC08674.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    height: 100%;
    width: auto;
    @media (min-width: 580px) {
      background-position: top center;
    }
    @media (max-width: $bpoint-desk) {
      background-position: center center;
    }
  }
}
