.img-box {
  height: $space * 18.75;

  .img {
    background-image: url(../img/DSC08674.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    height: 100%;
    width: auto;
    @media (min-width: 580px) {
      background-position: top center;
    }
    @media (max-width: $bpoint-desk) {
      background-position: center center;
    }
  }
}
