.hobby {
  color: $color-3;
  min-width: 300px;
  h3 {
    margin: 0;
    padding: $base-unit * 0.25 $base-unit * 0.25;
    font-weight: $fw-bold;
  }
  ul {
    list-style-type: disc;
    margin-left: $base-unit;
    padding-left: $base-unit;
  }
}
.hobby-box {
  padding-top: $base-unit;
  margin-left: $space * 3.5;
}
